//----------  helpers
//------------------------------------------------------------------------------

* {
	box-sizing: border-box;

	&::before,
	&::after {
		box-sizing: border-box;
	}
}

html,
body {
	color: $white;
	font-family: $font-default;
	font-size: 16px;
	overflow-x: hidden;
	position: relative;
	width: 100%;
}

.overlay--active {
	background: rgba($black, .5);
	position: absolute;
	content: '';
	top: 0;
	overflow: hidden;
	height: 100vh;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.waves-label {
	position: relative;

    &::before {
        position: absolute;
        content: '';
        background-image: url('../images/waves.png');
        background-repeat: repeat-x;
        background-size: contain;
        background-position: center;
        left: 0;
        width: 60%;
        height: 250px;
        top: 0;
        transform: translateY(-50%);
        z-index: 0;
    }
}

figure {
	display: table;
	margin-top: 0;
	outline: none;
	position: relative;

	a {
		display: block;
		width: 100%;
	}

	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

figcaption {
	background: linear-gradient(to top, $black 0%, transparent 100%);
	caption-side: bottom;
	display: table-caption;
	padding: 0 30px 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	color: $white;
	text-align: left;
	z-index: 2;
	font-size: 14px;
}

// Theming and colors iterator
@each $colors-name in $site-colors {
	$name: nth($colors-name, 1);
	$color: nth($colors-name, 2);

	.bg-#{$name} {
		background-color: $color;
	}

	.color-#{$name} {
		color: $color;
	}
}
