.video-section {
    background: $blue;
    min-height: 790px;
    margin: 80px 0;
    padding: 85px 0;
    @media (max-width: $breakpointXlarge) {
        min-height: 650px;
    }
    @media (max-width: $breakpointLarge) {
        min-height: 500px;
    }
    @media (max-width: $breakpointSmall) {
        min-height: 350px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

.video-container {
    box-shadow: 0 7px 40px 5px rgba($black, .5);
    position: relative;
    overflow: hidden;
    padding-top: 28.8%;
    display: block;
    margin: 0 auto;
    max-width: 50%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
    @media (max-width: $breakpointMedium) {
        max-width: 65%;
        padding-top: 36.8%;
    }
    @media (max-width: $breakpointSmall) {
        padding-top: 56.8%;
        max-width: 100%;
    }
}
