h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: $font-default;
	font-weight: normal;
	line-height: 1.35em;
	margin-top: 0;
}

h1,
.h1 {
	font-size: 54px;
	line-height: 1;
	font-family: $bold;
	@media (max-width: $breakpointSmall) {
		font-size: 34px;
	}
}

h2,
.h2 {
	font-size: 44px;
	@media (max-width: $breakpointSmall) {
		font-size: 34px;
	}
}

h3,
.h3 {
	font-size: 26px;
}

h4,
.h4 {
	font-size: 20px;
}

h5,
.h5 {
	font-size: 20px;
}

h6,
.h6 {
	font-size: 16px;
}

p {
	margin-bottom: 15px;
	font-size: 18px;
	font-family: $light;
	color: $black;

	a {
		color: $blue;
		font-size: inherit;
	}
}

ul {
	list-style-type: none;
	padding-left: 0;
}

ul li,
span {
	font-size: 18px;
	font-family: $font-default;
	@media (max-width: $breakpointSmall) {
		font-size: 14px;
	}
}

ol {
	li {
		list-style-type: decimal;
		padding-left: 5px;
		margin-bottom: 7px;
		color: $black;

		a {
			color: $blue;
			font-weight: 400;
		}
	}
}

b {
	font-family: $bold;
}

blockquote {
	text-decoration: underline;
	border-top: 3px solid $blue;
	border-bottom: 3px solid $blue;
	margin-bottom: 50px;
	margin-top: 45px;
	padding: 35px 20px 35px 115px;
	color: transparent;
	position: relative;
	&::before {
		position: absolute;
		display: block;
		color: $blue;
		top: 0;
		left: 0;
		transform: rotate(180deg) translate(-75%, -18%);
		font-size: 86px;
		z-index: 1;
		width: 55px;
	}

	p,
	span {
		color: $blue;
	}

	p {
		font-family: $bold;
		font-size: 20px;
		font-style: normal;

		&:last-of-type {
			margin-bottom: 20px;
		}
	}

	span {
		font-size: 18px;
		font-style: normal;
	}
	@media (max-width: $breakpointSmall) {
		padding: 10px 20px 10px 45px;
		&::before {
			transform: rotate(180deg) translate(7%, 10%);
			font-size: 62px;
		}
		p {
			font-size: 16px;
		}
	}
}

img {
	max-width: 100%;
}

i {
	font-family: $light-italic;
}

b i {
	font-family: $bold-italic;
}
