//----------  button
//------------------------------------------------------------------------------
a,
button {
	appearance: none;
	outline: none;
	transition: .3s ease-in-out;
	color: $white;
	text-decoration: none;

	@include media-breakpoint-up(lg) {
		&:focus {
			outline: 1px dashed rgba($orange, .2);
		}
	}
}

button,
input[type='button'],
input[type='submit'] {
	background: none;
	border: 0;
	cursor: pointer;
	outline: none;
	padding: 0;
}

.btn {
	background-color: $black;
	color: $white;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	transition: 0.4s ease-out;

	@include hover {
		background-color: lighten($black, 30%);
		border-radius: 20px;
	}
}

.btn-load {
	display: block;
	margin: 0 auto;
	color: $blue;
	font-size: 12px;
	font-weight: $bold;
	padding: 60px 0 30px;
	position: relative;

	&::before {
		color: $blue;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%) rotate(90deg);
		transition: .3s ease-in-out;
	}

	@include hover {
		&::before {
			bottom: 7px;
		}
	}
}

.uk-button {
	background: $blue;
	position: relative;
	color: $white;
	cursor: pointer;
	overflow: hidden;
	font-weight: $semi-bold;
	font-size: 14px;
	padding: 15px 45px 15px 25px;
	text-transform: uppercase;
	transition: $nbSec ease-in-out;
	text-align: left;

	&:focus {
		outline: 1px dashed rgba($skyblue, .2);
	}

	.uk-icon {
		position: absolute;
		top: 50%;
		color: $white;
		border: 1px solid $blue;
		right: 15px;
		transform: translateY(-50%);
		transition: $nbSec ease-in-out;
	}

	svg {
		z-index: 1;
	}

	.uk-button--text {
		font-weight: inherit;
		font-size: inherit;
		position: relative;
		z-index: 2;
	}

	.uk-button-hover {
		position: absolute;
		display: block;
		height: 0;
		border-radius: 50%;
		background-color: $orange;
		transition: width .4s ease-in-out, height .4s ease-in-out;
		transform: translate(-50%, -50%);
		width: 0;
		z-index: 1;
	}

	@include hover {
		border: 1px solid $orange;
		background: $blue;
		color: tint($orange, 75%);

		.uk-button--text {
			color: $white;
		}

		.uk-button-hover {
			height: calc(100% * 2.25);
			width: 225%;
		}

		svg {
			color: $white;
		}
	}

	@media (max-width: $breakpointLarge) {
		font-size: 12px;
		padding: 5px 40px 5px 15px;

		.uk-icon {
			right: 5px;
		}
	}

	@media (max-width: $breakpointMedium) {
		padding: 5px 31px 5px 15px;
	}

	@media (max-width: $breakpointSmall) {
		padding: 15px 30px 15px 15px;
	}
}

.uk-button-primary {
	background: $blue;
	font-size: 14px;
	color: $white;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	transition: .3s ease-in-out;

	svg {
		right: 10px;
		width: 25px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

}

.uk-button-primary-big {
	padding: 31px 80px 31px 50px;
}

.uk-button-primary-small {
	padding: 10px 50px 10px 15px;
	font-size: 12px;
	width: 185px;

	.uk-button-text {
		font-size: 12px;
	}
}

.uk-button-secondary {
	background: $blue;
	color: $white;
	height: 100px;
	width: 100px;
	padding: 0;
	position: relative;

	&::before {
		z-index: 2;
	}

	svg {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		width: 70px;
	}
}

.uk-button--underline {
	position: relative;

	>span:not(.font-foreign) {
		// &:first-of-type {
			background: none;
			position: relative;
			text-decoration: none;
			font-family: $font-default;
			font-size: 14px;
			display: inline-block;
			color: $white;
			padding: 0 1px;
			transition: color ease .3s;

			&::before,
			&::after {
				content: '';
				position: absolute;
				background-color: $white;
				z-index: 0;
				height: 5%;
			}

			&::before {
				width: 0%;
				left: 0;
				bottom: 0;
				transition: width ease .4s;
			}

			&::after {
				width: 100%;
				left: 0;
				bottom: 0;
				transition: ease .6s;
			}
		// }

		// &:last-of-type {
		// 	right: 10px;
		// 	position: absolute;
		// 	top: 50%;
		// 	transform: translateY(-50%);
		// 	color: $white;

		// 	svg {
		// 		width: 30px;
		// 	}
		// }
	}

	.font-foreign {
		position: relative;
		padding-right: 20px;
		&::before {
			position: absolute;
			right: 3px;
			top: 3px;
			font-size: 14px;
			color: $blue-dark;
		}
	}

	@include hover {
		span:first-of-type {
			&::before {
				width: 100%;
			}

			&::after {
				left: 100%;
				width: 0%;
				transition: ease .2s;
			}
		}
	}

	&.underline-blue {
		>span {
			font-family: inherit;
			font-size: inherit;
			font-weight: inherit;

			&:first-of-type {
				color: $blue-dark;

				&::before,
				&::after {
					background-color: $blue-dark;
				}
			}

			&:last-of-type {
				position: relative;
				color: $blue-dark;
				top: auto;
				transform: none;
				right: auto;
			}
		}
	}
}

.uk-slidenav {
	@include hover {
		color: $white;
	}
}

.uk-slidenav,
.uk-button-secondary,
.uk-button-primary {

	&:focus,
	&:hover {
		background: $blue;
		color: $white;
		outline: 1px dashed rgba($midblue, .2);
	}
}

.btn-down {
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
	transition: .3s ease-in-out;
	width: 50px;
	height: 30px;

	svg {
		width: 40px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	@include hover {
		bottom: 30px;
	}
}
