.nb-text-lead {
	color: $blue;
	font-family: $font-default;
	font-size: 24px;
	font-weight: 600;

	@media (max-width: $breakpointSmall) {
		font-size: 20px;
	}
}

.nb-color-blue {
	color: $blue;
}

.nb-bckg-blue {
	background: $blue;
}

.nb-bold {
	font-family: $bold;
}

.nb-list {
	margin-bottom: 10px;

	li {
		margin-bottom: 40px;
		color: $black;
		padding-left: 35px;
		position: relative;

		img {
			margin-right: 20px;
		}
	}

	.list-bottom {
		display: block;
		color: $black;
		font-family: $light;
	}

	@media (max-width: $breakpointLarge) {
		li {
			margin-bottom: 20px;
		}
	}

	@media (max-width: $breakpointSmall) {
		li {
			padding-left: 10px;

			&::after {
				top: 7px;
			}
		}
	}
}

.nb-list--rec {
	li {
		padding-left: 20px;

		&::after {
			display: block;
			content: '';
			width: 7px;
			height: 7px;
			background: $blue;
			z-index: 1;
			left: 0;
			top: 8px;
			position: absolute;
		}

		b {
			display: block;
		}
	}
}

.nb-table-wrap {
	@media (max-width: $breakpointSmall) {
		max-width: 500px;
		overflow-x: scroll;
	}
}

.nb-table {
	border-collapse: collapse;
	width: 100%;

	thead {
		background: $blue;
		color: $white;
		text-transform: uppercase;
		border: 3px solid $white;
	}

	th,
	td {
		padding: 20px;
		&:first-of-type {
			padding-left: 20px;
		}
	}

	th {
		font-size: 12px;
		color: $white;
		font-family: $bold;
	}

	tbody {
		tr {
			border: 3px solid $white;
		}

		td {
			background: $blue-lightest;
			font-size: 14px;
			font-family: $light;
			color: $black;

			&:first-of-type {
				background: $blue-sky;
				text-transform: uppercase;
				font-family: $bold;
				font-size: 12px;
			}
		}
	}
}

.uk-alert-danger,
.uk-alert-primary,
.uk-alert-success,
.uk-alert-warning {
	padding: 25px 50px 25px 25px;

	p {
		font-size: 14px;
		font-family: $light;

		>b {
			font-family: $font-default;
		}
	}

	.uk-close svg {
		color: rgba($black, .5);
	}
}

.uk-alert-primary {
	background: $blue;

	p {
		color: $white;
	}
}

.uk-alert-success {
	background: $green;
}

.uk-alert-warning {
	background: $orange-dark;
}

.uk-alert-danger {
	background: $red;

	p {
		color: $white;
	}
}

.nb-form form {
	background: rgba($blue, .1);
	padding: 50px;

	label {
		font-family: $bold;
		font-size: 12px;
		text-transform: uppercase;
	}

	>.uk-flex .uk-first-column:first-of-type {
		padding-left: 0;
	}

	.uk-input {
		margin-bottom: 20px;
		min-height: 45px;
	}

	.uk-textarea {
		min-height: 220px;
		resize: none;
	}

	.uk-button {
		text-align: center;
	}

	.uk-grid {
		margin-left: 0;
	}

	@media (max-width: $breakpointLarge) {
		.uk-button {
			margin-top: 20px;
		}
	}

	@media (max-width: $breakpointSmall) {
		padding: 50px 20px;

		.uk-grid {
			margin-left: 0;

			>* {
				padding-left: 0;
			}
		}
	}
}

.nb-slider-one {

	.uk-slidenav {
		background: rgba($white, .5);
		color: $white;
		margin: 15px 0;
		height: 55px;
		transition: .3s ease-in-out;
		width: 55px;

		svg {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}

		@include hover {
			color: $blue;
			background: $white;
		}
	}

	.uk-thumbnav {
		margin-left: 0;

		li {
			padding-left: 0;
		}
	}
}

.nb-block {
	clear: both;
	margin: $nbSpace 0;

	&:first-of-type {
		margin-top: 0;
	}

	[data-uk-lightbox] a {
		cursor: zoom-in;
	}

	&-content {

		figure {
			display: table;
			margin-top: 0;
			outline: none;

			a {
				cursor: zoom-in;
				display: block;
				width: 100%;
			}

			img {
				display: block;
				height: auto;

				@media (max-width: $breakpointMobile) {
					width: 100%;
				}
			}
		}

		figcaption {
			caption-side: bottom;
			display: table-caption;
			font-size: 0.8rem;
			padding: $nbGutterSmall;
			text-align: center;
		}

		.align_right {
			float: right;
			margin-bottom: $nbSpace;
			margin-left: $nbSpace;
		}

		.align_left {
			float: left;
			margin-bottom: $nbSpace;
			margin-right: $nbSpace;
		}

		.align_center {
			clear: both;
			margin: $nbSpace auto;
			text-align: center;
		}

		@media (max-width: $breakpointMobile) {

			.align_right,
			.align_left,
			.align_center {
				clear: both;
				float: none;
				margin: $nbSpaceSmall 0;
				width: 100%;
			}
		}

		.TextformatterVideoEmbed {
			margin: $nbSpace 0;
		}
	}

	&-gallery {

		.nb-gallery-images {
			margin: 0 -$nbGutterXsmall;
			overflow: hidden;

			.nb-gallery-row {
				display: table;
				width: 100%;

				.nb-gallery-image {
					border: $nbGutterXsmall solid transparent;
					display: table-cell;
					margin: 0;
					outline: none;
					overflow: hidden;
					position: relative;
					vertical-align: top;

					img {
						height: auto;
						width: 100%;
						vertical-align: middle;
					}
				}
			}

			.uk-container-expand & {
				margin: 0 $nbGutterXsmall;
			}
		}
	}

	&-form {

		.nb-form-content {
			position: relative;

			ul {
				margin: 0 0 $nbGutterSmall;
				padding: 0;

				li {
					display: inline-block;
					list-style: none;
					width: 100%;
				}
			}
		}

		label {

			i {
				margin-right: $nbGutterSmall;
			}
		}

		.uk-checkbox {

			+span {
				display: inline-block;
				margin-left: $nbGutterSmall;
			}
		}

		.uk-radio {

			+span {
				display: inline-block;
				margin-left: $nbGutterSmall;
			}
		}

		.nb-form-error {
			font-size: 0.875em;
			font-weight: 700;
			margin-bottom: $nbGutterSmall;

			.uk-icon {
				position: relative;
				top: -1px;
			}
		}

		.g-recaptcha {
			margin-bottom: 1rem;
		}
	}

	&-embed {
		iframe {
			width: 100%;
		}
	}
}

.nb-gallery-images {
	margin: 0 -$nbGutterXsmall;
	overflow: hidden;

	.nb-gallery-row {
		display: table;
		width: 100%;

		.nb-gallery-image {
			border: $nbGutterXsmall solid transparent;
			display: table-cell;
			margin: 0;
			outline: none;
			overflow: hidden;
			position: relative;
			vertical-align: top;

			.nb-gallery-info {
				background: $blue;
				clip-path: url('#wave-large');
				position: absolute;
				content: '';
				left: 0;
				height: 120px;
				color: $white;
				bottom: -100%;
				width: 100%;
				pointer-events: none;
				transition: .3s ease-in-out;
				padding: 50px 20px 25px 55px;
				z-index: 2;
				font-size: 14px;
				font-family: $bold;

				.nb-gallery-text {
					left: 40px;
					position: absolute;
					transform: translateY(-50%);
					display: inline-block;
					padding-left: 50px;
					font-size: 14px;
					font-family: $bold;

					&::before {
						position: absolute;
						left: 0;
						content: url('../img/gallery-icon.png');
						width: 35px;
						top: -4px;
					}
				}
			}

			.zig-zag-top {
				bottom: 100%;
				top: auto;
				transform: rotate(-180deg);
				width: 100%;
				height: 160px;

				.uk-svg path {
					fill: $blue;
				}
			}

			img {
				height: auto;
				width: 100%;
				vertical-align: middle;
			}

			@include hover {
				.nb-gallery-info {
					bottom: 0;
				}
			}
		}
	}

	@media (max-width: $breakpointXlarge) {
		.nb-gallery-row .nb-gallery-image {
			.nb-gallery-info {
				height: 50px;
				padding: 30px 20px 25px 20px;

				.zig-zag-top {
					height: 90px;
				}

				.nb-gallery-text {
					font-size: 12px;

					&::before {
						transform: translateY(-25%);
					}
				}
			}
		}
	}
}

.uk-container-expand .nb-gallery-images {
	margin: 0 $nbGutterXsmall;
}

.nb-facts-wrap {
	max-width: 320px;

	@media (max-width: $breakpointXlarge) {
		flex-direction: row;
		max-width: 900px;
		margin: 0 auto 30px;
		width: 100%;
		justify-content: flex-start;
		flex-wrap: wrap;

		.nb-facts {
			padding: 2px;
		}
	}

	@media (max-width: $breakpointSmall) {
		flex-direction: column;

		.nb-facts {
			padding: 0;
		}
	}
}

.nb-facts {
	margin-bottom: 70px;

	&:not(.nb-facts--download) {
		.nb-facts__inner {
			background: $blue-sky;
		}
	}

	.nb-facts__inner {
		min-height: 400px;
		border-top: 4px solid $blue;
		padding: 25px 0 200px;
		position: relative;
	}

	span:not(.uk-button-hover) {
		display: block;
		font-family: $bold;
		font-size: 20px;
		padding-left: 40px;
		margin-bottom: 25px;
	}

	ul {
		padding: 0 15px 0 40px;

		li {
			font-size: 16px;
			color: $black;
			margin-bottom: 20px;
			padding-left: 30px;
			position: relative;
			font-family: $medium;

			&::before {
				position: absolute;
				left: 0;
				top: 3px;
				color: $blue;
			}
		}
	}

	.nb-facts-body {
		background: $blue;
		min-height: 110px;
		padding: 20px 25px 35px;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;

		&::after {
			background-image: url('../img/lpa-main-pattern.svg');
			position: absolute;
			left: 0;
			top: -66px;
			height: 80px;
			width: 100%;
			display: block;
			content: '';
			transition: .3s ease-in-out;
		}

		span:not(.uk-button-hover),
		a {
			color: $white;
			position: relative;
			text-decoration: none;
			font-family: $bold;
			transition: .3s ease-in-out;

			&::before,
			&::after {
				position: absolute;
				top: 3px;
			}
		}

		.uk-button--underline {
			display: block;
			padding: 0 20px 0 55px;

			.font-gross {
				position: absolute;
			}

			.uk-text-uppercase {
				font-size: 18px;

				&::after,
				&::before {
					top: auto;
				}
			}
		}

		.download {
			font-size: 18px;
			position: absolute;
			top: 0;
			right: auto;
			left: 0;
			bottom: 0;
			width: 100%;

			&::before {
				right: 0;
				left: auto;
				transform: translateY(25%);
				transition: .3s ease-in-out;
			}

			&::after {
				left: 0;
				top: 5px;
				content: url('../img/pdf-icon.png');
				width: 25px;
			}
		}
	}

	@media (max-width: $breakpointXlarge) {
		max-width: 320px;
		margin-bottom: 0;
		width: calc(100% / 3);

		.nb-facts__inner {
			height: 100%;
		}
	}

	@media (max-width: $breakpointLarge) {
		width: 50%;
	}

	@media (max-width: $breakpointSmall) {
		max-width: 100%;
		width: 100%;
		margin-bottom: 20px;
	}
}

.nb-facts--download {
	.nb-facts__inner {
		min-height: 450px;
		border-color: transparent;
	}

	.nb-facts-body {
		padding: 20px 20px 35px;

		ul {
			padding: 0;
			margin: 0;
		}

		span,
		a {
			font-size: 12px;
		}

		>span:not(.uk-button-hover) {
			&::after {
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				content: url('../img/pdf-icon.png');
				width: 25px;
			}
		}

		li {
			min-height: 40px;
			margin-bottom: 0;
			padding-left: 0;

			&:not(:first-of-type) {
				padding-left: 4px;
			}
		}

		.uk-button-secondary {
			display: inline-block;
			border-color: $white;
			width: 100%;
			height: 45px;
			padding: 0;
			text-align: center;
			min-width: 0;

			&::before {
				bottom: -17px;
				transform: rotate(90deg) translateY(51%);
				left: 50%;
				font-size: 10px;
				width: 12px;
			}

			.uk-button--text {
				color: $white;
				padding: 0;
				margin: 0;
			}

			@include hover {
				&::before {
					color: $blue;
				}

				.uk-button--text {
					color: $blue;
				}

				.uk-button-hover {
					background: $white;
				}
			}
		}
	}

	@media (max-width: $breakpointSmall) {
		.nb-facts__inner {
			max-height: 780px;
		}
	}
}

.nb-facts-logos {
	min-height: 0;

	.nb-facts__inner {
		padding: 25px 21px 30px;

		>span {
			padding-left: 0;
		}
	}

	.uk-flex-wrap span {
		min-height: 130px;
		padding: 2px;
		margin-bottom: 0;
		position: relative;

		&::after {
			bottom: 2px;
			background: $white;
			content: '';
			position: absolute;
			width: calc(100% - 4px);
			left: 2px;
			top: 2px;
			z-index: 0;
		}

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
			width: 90%;
		}
	}

	@media (max-width: $breakpointSmall) {
		.uk-flex-wrap span img {
			width: 45%;
		}
	}
}

.nb-select-wrap {
	.nb-select:not(:first-of-type) {
		padding-left: 10px;
	}

	@media (max-width: $breakpointMedium) {
		flex-direction: column;
		margin-bottom: 25px;

		.nb-select:not(:first-of-type) {
			padding: 5px 0;
		}
	}
}

.nb-select {
	.uk-button-primary.uk-active {
		background: $white;
		color: $blue;
	}

	.uk-button,
	.uk-dropdown {
		min-width: 350px;
	}

	.uk-button {
		line-height: 20px;
		border: 0;

		.uk-button--text {
			text-align: left;
			display: inline-block;
			width: 100%;
		}

		>.uk-icon {
			border: 0;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 10px;
			width: 20px;
			z-index: 1;
		}

		@include hover {
			.uk-button--text {
				color: $white;
			}

			>.uk-icon {
				transform: rotate(-180deg) translateX(100%);

				svg {
					color: $white;
				}
			}
		}

		&:focus {
			.uk-button--text {
				color: $blue;
			}

			.uk-button-hover {
				background: $white;
			}

			>.uk-icon {
				transform: rotate(-180deg) translateX(100%);

				svg {
					color: $blue;
				}
			}
		}

		&.uk-open {
			background: $white;
			color: $blue;

			>.uk-icon {
				transform: rotate(-180deg) translateX(100%);

				svg {
					color: $blue;
				}
			}
		}
	}

	button {
		padding: 15px;
		font-family: $bold;
		font-size: 12px;
	}

	.uk-dropdown {
		box-shadow: 0 5px 7px 0 rgba($black, .5);
		background: $blue;
		padding: 15px;
		margin-top: 0;
		left: 0 !important;
	}

	ul {
		button {
			display: block;
			width: 100%;
			text-align: left;
			color: $white;
			transition: .3s ease-in-out;

			@include hover {
				background: $realblue;
			}
		}
	}

	@media (max-width: $breakpointMedium) {
		width: 50%;
	}

	@media (max-width: $breakpointSmall) {
		width: 100%;

		.uk-button,
		.uk-dropdown {
			min-width: 280px;
			width: 100%;
		}
	}
}

.nb-select--calendar {
	ul {
		li {
			padding: 1px;

			button {
				border: 1px solid $realblue;
				text-align: center;
				font-size: 18px;
			}
		}
	}
}

.nb-container,
.cruise-section .nb-container {
	margin-left: 240px;

	@media (max-width: $breakpointXlarge) {
		margin-left: auto;
		flex-direction: column;
	}
}

.nb-container {
	@media (max-width: $breakpointMedium) {
		padding-left: 30px;
		padding-right: 30px;
	}

	@media (max-width: $breakpointSmall) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.nb-link-contact {
	display: block;
	position: relative;
	width: 45px;
	height: 50px;
	text-decoration: none;

	&::before,
	&::after {
		position: absolute;
	}

	&::after {
		left: 0;
		content: font-char($wave-pattern-smaller);
		font-family: 'svgicons';
		transform: translateY(-20%);
		color: $orange;
		top: 0;
		height: 100%;
		font-size: 44px;
		transition: .3s ease-in-out;
	}

	&::before {
		top: 50%;
		left: 50%;
		transform: translate(-60%, -58%);
		color: $white;
		font-size: 20px;
		z-index: 1;
	}

	@include hover {
		color: $white;

		svg path {
			fill: $blue;
		}

		&::after {
			color: $blue;
		}
	}
}

.nb-block-social {
	padding-bottom: 120px;
	z-index: 1;

	span {
		color: $grey;
		font-size: 12px;
		transform: rotate(-90deg) translate(-35%, -115%);
		position: absolute;
		min-width: 115px;
	}
}

.nb-fixed {
	z-index: 3;
}

.nb-link-social {
	background: $blue;
	border: 1px solid $blue;
	display: block;
	height: 48px;
	margin: 10px;
	position: relative;
	width: 48px;

	svg {
		position: absolute;
		font-size: 22px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;

		path {
			color: $white;
			transition: .3s ease-in-out;
		}
	}

	@include hover {
		background: $white;

		svg path {
			fill: $blue;
		}

		svg {
			color: $blue;
		}
	}
}

.nb-quote-box {
	background: $blue-sky;
	max-width: 230px;
	padding: 20px;
	position: absolute;
	left: -300px;
	bottom: 0;

	&::after {
		position: absolute;
		right: -35px;
		content: '';
		bottom: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 35px 0 0 35px;
		border-color: transparent transparent transparent $blue-sky;
	}

	span {
		color: $blue;
		font-size: 14px;
		display: block;

		&:first-of-type {
			font-family: $bold;
		}

		&:nth-of-type(2) {
			font-family: $extra-bold;
		}
	}

	img {
		width: 100%;
		height: auto;
		padding: 10px 0;
	}
}

.nb-overlay {
	display: none;
	z-index: 10;
}
