.header {
	background: $blue;
	left: 0;
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 11;

	.uk-container {
		position: relative;
		padding-right: 0;
	}

	.uk-navbar {
		padding-left: 335px;
	}

	.uk-navbar-nav {

		a,
		button,
		span,
		.uk-active>a,
		p {
			font-family: $font-default;
			font-size: 12px;
			color: $white;
			transition: .3s ease-in-out;

			&:not(p) {
				font-family: $bold;
			}
		}

		p {
			font-size: 14px;
			font-family: $medium;
		}

		li button {
			min-height: 80px;
			padding: 0 15px;
			width: 100%;

			.uk-icon {
				top: -3px;
				position: relative;
				left: 3px;
			}
		}

		.uk-close {
			color: $blue;
			position: absolute;
			bottom: 20px;
			right: 60px;
			min-height: auto;
			font-size: 12px;
			width: auto;

			svg {
				margin-left: 10px;
				width: 12px;
				font-weight: bold;
				top: -2px;
				position: relative;
			}
		}
	}

	>.uk-navbar>.uk-navbar-nav>li>a,
	>.uk-navbar>.uk-navbar-nav>li>button {
		border-top: 3px solid transparent;

		>span>svg {
			transition: .3s ease-in-out;
		}

		@include hover {
			border-color: $white;
			color: $white;
			background: $blue-light;

			>span {
				color: $white;

				>svg {
					transform: rotate(0deg);
				}
			}
		}

		&:focus {
			outline: 1px dashed rgba($white, .2);
		}
	}

	.uk-navbar>.uk-navbar-nav>li>.uk-open {
		background: $white;
		color: $blue;

		>span {
			color: $blue;

			>svg {
				transform: rotate(-180deg);
			}
		}

		&:focus,
		&:hover {
			background: $white;
			color: $blue;

			>span {
				color: $blue;

				>svg {
					transform: rotate(-180deg);
				}
			}
		}
	}

	.uk-navbar-dropdown {
		padding: 50px 60px;
		margin-top: 0;
		top: 75px !important; // sass-lint:disable-line no-important
		box-shadow: none;
	}

	.uk-navbar-dropdown-nav>li {
		&:not(:last-of-type) {
			padding-right: 3px;
		}

		.uk-background-cover {
			padding-top: 30px;

			ul {
				padding-left: 15px;
			}

			a,
			.title {
				background: transparent;
				position: relative;
				display: inline-block;
				width: auto;
			}

			.title {
				padding: 0 30px;
				position: relative;
			}

			a {
				padding-right: 20px;
				text-decoration: none;

				&::before {
					right: 5px;
					position: absolute;
					top: 3px;
					font-size: 10px;
					transition: .3s ease-in-out;
				}

				@include hover {
					&::before {
						right: 0;
					}
				}
			}

			>.uk-padding {
				background-color: $blue;
				min-height: 205px;

				ul a {
					padding: 0 0 0 20px;
					width: 100%;

					&::before {
						left: 0;
						position: absolute;
						top: 4px;
						font-size: 10px;
						transition: .2s ease-in-out;
					}

					@include hover {
						&::before {
							left: 3px;
						}
					}
				}
			}

			span {
				background: $blue;
				min-height: 95px;
				display: block;
				width: 100%;
			}
		}
	}

	.nav-bottom {
		padding-bottom: 3px;
	}

	@media (max-width: $breakpointXlarge) {

		>.uk-navbar>.uk-navbar-nav>li>a,
		>.uk-navbar>.uk-navbar-nav>li>button {

			@include hover {
				border-color: transparent;

				>span {
					color: $white;
				}
			}

			&:focus {
				background: $blue;
			}
		}

		.uk-navbar>.uk-navbar-nav>li>.uk-open {
			background: $blue-mid;
			color: $white;

			>span {
				color: $white;
			}

			&:focus {
				background: $blue-mid;
				color: $white;

				>span {
					color: $white;
				}
			}
		}

		.uk-navbar-dropdown-nav {
			position: absolute;
			left: 0;
			width: 100%;
			padding: 50px 60px 40px;
			background: $blue-mid;
			z-index: 5;
			top: 0;

			li {
				&:not(:last-of-type) {
					padding-right: 0;
					margin-bottom: 2px;
				}

				&:last-of-type {
					background: transparent;
				}

				a,
				button,
				span {
					display: block;
					background: $blue;
					padding: 20px 20px 20px 25px;
					position: relative;
					text-align: left;
					min-height: 0;

					&::before {
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						right: 20px;
					}
				}
			}

			.uk-navbar-dropdown {
				background: $blue-mid;
				top: 0 !important; // sass-lint:disable-line no-important
				left: 0 !important; // sass-lint:disable-line no-important
				bottom: 0;
				width: 100%;

				span,
				button {
					padding-left: 30px;
				}

				li:first-of-type button {
					background: transparent;

					&::before {
						left: 10px;
						right: auto;
						transform: rotate(-180deg) translateY(40%);
					}
				}

				.uk-navbar-dropdown-nav {
					li:nth-of-type(2) span {
						font-size: 18px;
					}

					.social a {
						padding-left: 20px;
					}
				}

				a {
					padding-left: 50px;
				}
			}
		}

		.uk-navbar-nav,
		.uk-navbar-dropdown-nav {
			.social {
				width: 100%;

				span,
				a {
					background: transparent;
				}
			}
		}
	}

	@media (max-width: $breakpointLarge) {
		.uk-navbar {
			padding-left: 171px;
		}
	}

	@media (max-width: $breakpointSmall) {
		min-height: 45px;

		.uk-navbar {
			padding-left: 129px;
		}

		.uk-navbar-nav {
			right: 0;
			top: 0;
			bottom: 0;
			height: 45px;
			width: 45px;
			position: absolute;
		}

		.burger-menu {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 45px;
			height: 45px;
			transform: translate(-50%, -50%);

			span {
				pointer-events: none;
				z-index: 0;
				position: absolute;
				left: 50%;
				width: 20px;
				height: 2px;
				background: $white;
				content: '';
				top: 50%;
				transform: translate(-50%, -50%);
				transition: .5s ease-in-out;

				&::after,
				&::before {
					position: absolute;
					left: 0;
					width: 100%;
					height: 2px;
					background: $white;
					content: '';
					transition: .5s ease-in-out;
				}

				&::after {
					top: -7px;
				}

				&::before {
					top: 7px;
				}
			}

			&.uk-open {
				background: $blue-mid;

				span {
					background: transparent;

					&::after,
					&::before {
						top: 0;
					}

					&::after {
						transform: rotate(45deg);
						left: 0;
					}

					&::before {
						transform: rotate(-45deg);
						right: 0;
						width: 100%;
					}
				}
			}
		}

		.uk-navbar-dropdown {
			top: 45px !important; // sass-lint:disable-line no-important
		}

		.uk-navbar-dropdown-nav {
			padding: 20px 20px 40px;
		}

		.uk-navbar-dropdown-nav {
			li {

				a,
				button,
				span {
					display: block;
					background: $blue;
					padding: 20px;
				}
			}

			.uk-navbar-dropdown {

				span {
					padding-left: 20px;
				}

				a,
				button {
					padding-left: 40px;
				}
			}
		}

		.uk-navbar-nav,
		.uk-navbar-dropdown-nav {
			.social {

				span,
				a {
					padding: 10px;
				}

				span {
					font-size: 10px;
				}
			}
		}
	}
}

.nav-half-height {
	height: 50%;
	padding-bottom: 2px;
}

.header__logo {
	width: 260px;
	position: absolute;
	left: 60px;
	top: 0;

	img {
		width: 100%;
		height: auto;
	}
	&:focus {
		outline: 1px dashed rgba($white, .2);
	}

	@media (max-width: $breakpointLarge) {
		left: 0;
		width: 187px;

		img {
			width: auto;
			height: 80px;
		}
	}

	@media (max-width: $breakpointSmall) {
		width: 129px;
		img {
			height: 45px;
		}
	}
}

.header__socials {
	margin: 0;

	a {
		padding: 0 6px;
		position: relative;

		@include hover {
			color: $orange;
		}
	}
}

.nav-padding-bottom {
	padding-bottom: 3px;
}

.header__live {
	color: $white;
	background: $orange;
	padding: 0 40px 0 30px;

	>.font-gross::before {
		top: 50%;
		font-size: 14px;
		transform: translateY(-50%);
	}
	@include hover {
		color: transparent;
		color: $white;
	}

	@media (max-width: $breakpointLarge) {
		padding: 0 15px;
		position: relative;
		min-width: 95px;
		a {
			padding: 0;
			width: 100%;
			height: 100%;
			position: relative;
			&::before {
				right: auto;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				font-size: 28px;
				position: absolute;
			}
			span {
				font-size: 8px;
				margin: 0 auto;
				text-align: center;
			}
		}
	}

	@media (max-width: $breakpointSmall) {
		height: 45px;

		a::before {
			right: auto;
			transform: translate(-50%, -80%);
			font-size: 24px;
		}
	}
}

.nav-box {
	height: 100%;
	padding-top: 80px;
	min-height: 85px;
	position: relative;

	>a {
		margin-bottom: 45px;
	}
}

.nav-text {
	height: 100%;
	min-height: 85px;
	position: relative;
	padding: 20px 10px 30px 20px;
	margin-top: 60px;

	&::before {
		display: block;
		position: absolute;
		content: '';
		background-image: url('../img/lpa-main-pattern.svg');
		background-repeat: repeat-x;
		background-size: contain;
		background-position: center;
		left: 0;
		width: 100%;
		height: 60px;
		top: 0;
		transform: translateY(-82%);
		z-index: 0;
	}
}

.header--dashboard {

	span,
	a:not(.header__logo) {
		display: inline-block;
		height: 100%;
		min-height: 80px;
		line-height: 80px;
	}

	.uk-button--underline {
		padding-left: 45px;

		span {
			&:first-of-type {
				font-family: $bold;
				font-size: 12px;
				display: inline;

				&::before,
				&::after {
					top: auto;
				}
			}

			&:last-of-type {
				left: 0;
				position: absolute;
				padding: 0;
				top: 0;
				width: 100%;

				&::before {
					left: 20px;
					right: auto;
					transform: rotate(-180deg) translateY(50%);
					font-size: 12px;
				}
			}
		}
	}

	.uk-navbar span {
		position: relative;
		padding: 0 45px 0 25px;
		font-size: 16px;

		&::before {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	@media (max-width: $breakpointLarge) {
		.header__live {
			width: 300px;
			padding-top: 0;
			padding-bottom: 0;
		}

		.header__logo {
			left: 0;
			width: 187px;
			position: absolute;
			left: 0;
		}

		a:not(.header__logo)::before {
			font-size: 18px;
		}

		.uk-navbar {
			padding-left: 171px;
		}
	}

	@media (max-width: $breakpointSmall) {
		height: 45px;

		span,
		a:not(.header__logo) {
			min-height: 45px;
			line-height: 0;
		}

		.font-gross {
			display: none !important;// sass-lint:disable-line no-important
		}

		.header__live {
			width: 220px;
			height: 45px;
			min-height: 45px;
		}
		.uk-button--underline {
			padding-left: 10px;
		span:first-of-type {
			line-height: 45px;
			font-size: 10px;
		}
	}
	}
}
