@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
    .nav-text {

        &::before {
            display: none;
        }
    }

    .nb-link-contact {
        color: transparent !important;
    }

    .uk-button--underline .font-gross::before {
        right: -3px;
    }

    .dashboard-bottom {
        .uk-button--underline .font-gross::before {
            top: 2px;
        }
    }
    .dashboard-date {
        padding-top: 7px;
    }
    .wave-box .uk-card-body::after {
        display: none;
    }
    .zig-zag__inner .zig-zag__text .zig-zag-bottom {
        bottom: calc(100% - 1px);
    }
    .zig-zag-bottom {
        bottom: -1px;
    }
    .nb-container {
        >.uk-container {
            margin-right: 170px;
        }
    }
}
