//
// Theme
//
/*--------------------------------------------------------------
# Config
--------------------------------------------------------------*/
@import 'config/variables.scss';

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
@import 'base/breakpoints.scss';
@import 'base/fonts.scss';
@import 'base/layout.scss';
@import 'base/typography.scss';

/*--------------------------------------------------------------
# Helpers
--------------------------------------------------------------*/
@import 'helpers/mixins.scss';
@import 'helpers/helpers.scss';

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
@import 'layout/icon-font.scss';
@import 'layout/buttons.scss';
@import 'layout/forms.scss';
@import 'layout/triangles.scss';

/*--------------------------------------------------------------
# Modules
--------------------------------------------------------------*/
@import 'modules/banner.scss';
@import 'modules/link-box.scss';
@import 'modules/zig-zag.scss';
@import 'modules/wave-section.scss';
@import 'modules/vision-section.scss';
@import 'modules/values-section.scss';
@import 'modules/intro-section.scss';
@import 'modules/video-section.scss';
@import 'modules/dashboard-section.scss';
@import 'modules/cruise-section.scss';

// NB
@import 'nb/block.scss';
@import 'nb/file-icon.scss';

// Theme
@import 'theme/base.scss';
@import 'theme/header.scss';
@import 'theme/footer.scss';
@import 'theme/firefox.scss';
@import 'theme/ie11.scss';
@import 'theme/print.scss';


.uk-link-toggle:focus .uk-link,
.uk-link-toggle:hover .uk-link,
.uk-link:hover,
a:hover {
	text-decoration: none;
	color: $white;
}

// uikit/form
.uk-input:not(.uk-form-danger),
.uk-select:not(.uk-form-danger),
.uk-textarea:not(.uk-form-danger),
.uk-checkbox:not(.uk-form-danger),
.uk-radio:not(.uk-form-danger),
.uk-checkbox:checked:not(.uk-form-danger),
.uk-radio:checked:not(.uk-form-danger) {
	border-color: $ocean-blue;
	font-size: 16px;
	font-family: $light;

	&:focus {
		border-color: $night-blue;
	}
}
